/LeerJava/target/
/AreadeUncuadrado/target/
/PromediodeEstudiantes/target/
/Promedio/target/
/CalificacionFinal/target/
/Conversor/target/
/Sueldo/target/
/IvaDeProducto/target/
/AdivinaNumero/target/
/Hroscopos/target/
/Castin/target/
/Sumatoria/target/
/Triangulos/target/
/Juego/target/
/Grupo/target/